@mixin header {
    height: 6rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1.5rem;
}

@mixin nav-flexit {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 255, 0.514);
}

@mixin li {
    padding: 1rem;
    list-style: none;
}

@mixin a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

@mixin sec-img {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

@mixin img {
    height: 12rem;
    width: 18rem;
    margin: 0 0.5rem 1rem 0.5rem
}

@mixin aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 1rem;
}

@mixin aside-inner {
    border: 0.2rem solid rgba(0, 0, 255, 0.678);
    padding: 1rem;
    margin-bottom: 1rem;
}

@mixin footer-flexit {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

@mixin footer-inner {
    height: 5rem;
    margin-top: 1rem;
    background-color: rgba(0, 0, 255, 0.678);
}

@mixin mediaQ_sec-img {
    display: flex;
    flex-flow: row wrap;
}

@mixin mediaQ_aside {
    display: flex;
    flex-flow: row wrap;
}

@mixin mediaQ_aside-inner {
    width: 45%;
    margin: 0.5rem;
}