@import "_generals.scss";
@import "_mixin.scss";
@import "_variables.scss";
@import "_mq.scss";
// sass --watch assets/scss/main.scss assets/css/style.css
.header {
    @include header
}

h1,
h2 {
    font-size: $fs-small;
}

.nav_links {
    @include nav-flexit;
    li {
        @include li;
        a {
            @include a
        }
    }
}

.main {
    @include main;
}

.section_text>h3 {
    text-align: center;
}

.section_text,
.section_images {
    margin: 1rem;
}

.section_images {
    @include sec-img;
}

img {
    @include img
}

.aside {
    @include aside;
    aside {
        @include aside-inner;
    }
}

.footer {
    .footer_links {
        @include footer-flexit;
        @include footer-inner;
        li {
            @include li;
            a {
                @include a;
            }
        }
    }
}